<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
 <%= current_user.name %> <%= link_to 'ログアウト', logout_path %>
 <%= current_user.name %> <%= link_to 'ポジティブ', home_pos_rank_path %>
 <%= current_user.name %> <%= link_to 'ネガティブ', home_neg_rank_path %>
